{% extends "layout.html" %} {% block container %}
{% import "_macros.html" as macros %}
<h2>Registrar Usuario</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p style="color:green">{{ messages[0] }}</p>
  {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('usuarios.crear') }}">
   <div>
        
        {{ macros.campoNuevo(
            field=form.nombre, 
            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs", 
            placeholder="Escribe tu nombre"
        ) }}
    </div>

     <div>
        {{ macros.campoNuevo(
            field=form.apellido, 
            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs", 
            placeholder="Escribe tus apellidos"
        ) }}
    </div>

    
    <div>
        {{ macros.campoNuevo(
            field=form.nombreUsuario, 
            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs", 
            placeholder="Escribe tu nombre de Usuario"
        ) }}
    </div>

    <div>
       {{ macros.campoNuevo(
           field=form.password, 
           class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs", 
           placeholder="Escribe tu contraseña"
       ) }}
   </div>

    <div>
       {{ macros.campoNuevo(
           field=form.idRol, 
           class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs", 
           placeholder="Elige tu rol"
       ) }}
   </div>


  <button type="submit">Guardar Usuario</button>
  <a href="{{url_for('usuarios.index')}}" class="text-green-600 hover:underline">Cancelar</a>
</form>
{% endblock %}