{% extends "layout.html" %} {% block container %}

<a href="{{ url_for('auth.logout') }}" class="text-red-600 hover:underline">Cerrar sesión</a>

<div class="">
    <p> Total de usuarios activos</p>
    <p> Activos </p>
    {{ usuario | selectattr('estatus') | list | length }}
</div>

<div class="">
    <p> Inactivos </p>
    {{ todos | rejectattr('estatus') | list | length }}
</div>

<td class="px-6 py-4 text-center">
    <a href="{{url_for('usuarios.crear')}}" class="text-green-600 hover:underline">Crear Usuario</a>
</td> 

<form method="GET" action="{{ url_for('usuarios.index') }}">
  <input type="text" name="busqueda" value="{{ busqueda }}" placeholder="Buscar usuario...">
  
  <select name="idRol">
    <option value="">Todos los roles</option>
    {% for r in roles %}
      <option value="{{ r.id }}" {% if idRol == r.id|string %}selected{% endif %}>{{ r.nombre }}</option>
    {% endfor %}
  </select>

  <button type="submit">Buscar</button>
</form>

<table>
    <thead> 
        <tr>
            <th>Nombre</th>
            <th>Fecha Ingreso</th>
            <th>Estatus</th>
            <th>Acciones</th>
         </tr>
    </thead>
    <tbody>
        {% for u in usuario %}
        <tr>
            <td>
                {{u.nombreUsuario}}
            </td>
            <td>
                {{u.fechaIngreso}}
            </td>           
            <td>
                {{u.estatus}}
            </td>     
     
            <td class="px-6 py-4 text-center">
                <a href="{{url_for('usuarios.editar',id=u.id)}}" class="text-green-600 hover:underline">Editar</a>
            </td>      
            <td class="px-6 py-4 text-center">
                <a href="{{ url_for('usuarios.eliminar', id=u.id) }}" class="text-red-600 hover:underline">Eliminar</a>
            </td>     
           
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}