
{% macro campoNuevo(field)%}
    <td> {{field.label}} </td>
<!-- # toma el objeto y lo convierte a html  -->
    <dd>{{field(**kwargs) | safe}}</dd> 

    {% if field.errors %}
        {%for error in field.errors%}
           <li style="color:red"> {{error}} </li> 
        {% endfor %}    
    {% endif%}

{% endmacro %}

{% macro campoCompra(field, clase='', placeholder='') %}
<div class="mb-3">

    <label class="text-xs font-extrabold text-brand-text">
        {{ field.label }} <span class="text-orange">*</span>
    </label>

    <div>
        {{ field(class_=clase, placeholder=placeholder) }}
    </div>

    {% if field.errors %}
        {% for error in field.errors %}
            <p class="text-red-500 text-xs">{{ error }}</p>
        {% endfor %}
    {% endif %}

</div>
{% endmacro %}