<aside class="sidebar">
  <!-- DASHBOARD -->
  <div class="sb-section">General</div>
  <a href="{{ url_for('dash.auth') }}"
     class="nav-link {% if request.endpoint == 'dash.auth'  %}active{% endif %}">
    Dashboard
  </a>

  <!-- ADMINISTRACIÓN -->
  <div class="sb-divider"></div>
  <div class="sb-section">Administración</div>

  <a href="{{ url_for('usuarios.index') }}"
     class="nav-link {% if request.endpoint == 'usuarios.index' %}active{% endif %}">
    Usuarios
  </a>

  <a href="{{ url_for('proveedores.proveedoresTabla') }}"
     class="nav-link {% if request.endpoint == 'proveedores.proveedoresTabla' %}active{% endif %}">
    Proveedores
  </a>

  <!-- OPERACIONES -->
  <div class="sb-divider"></div>
  <div class="sb-section">Operaciones</div>

  <a href="{{ url_for('compra.compra') }}"
     class="nav-link {% if request.endpoint == 'compra.compra' %}active{% endif %}">
    Compras
  </a>

  <a href="{{ url_for('materia.materia') }}"
     class="nav-link {% if request.endpoint == 'materia.materia' %}active{% endif %}">
    Materia Prima
  </a>

  <a href="{{ url_for('producto.index') }}"
     class="nav-link {% if request.endpoint == 'producto.index' %}active{% endif %}">
    Productos
  </a>

  <a href="{{ url_for('recetas.index') }}"
     class="nav-link {% if request.endpoint == 'recetas.index' %}active{% endif %}">
    Recetas
  </a>

  <a href="{{ url_for('merma.merma') }}"
     class="nav-link {% if request.endpoint == 'merma.merma' %}active{% endif %}">
    Mermas
  </a>

  <!-- FOOTER / USER -->
  <div class="sb-divider"></div>
  <a href="{{ url_for('auth.logout') }}" class="btn-logout">
    Cerrar Sesión
  </a>
</aside>