{% extends "layoutCliente.html" %}
{% block title %}La Casa del Helado{% endblock %}

{% block extra_css%}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
{% endblock %}

{% block container %} 
  <div class="main-container">
    <div class="bg-visual">
      <div class="blob blob1"></div>
      <div class="blob blob2"></div>
      <div class="blob blob3"></div>
    </div>

    <nav class="navbar">
      <ul class="nav-links">
        <li>
          <a href="/login_cliente" class="btn-soft">Iniciar sesión</a>
        </li>
      </ul>
    </nav>

    <section class="hero">
      <img class="img-float top-left" src="https://pngimg.com/uploads/ice_cream/ice_cream_PNG20998.png">
      <img class="img-float middle-left" src="https://pngimg.com/uploads/ice_cream/ice_cream_PNG21000.png">
      <img class="img-float bottom-left" src="https://pngimg.com/uploads/ice_cream/ice_cream_PNG20994.png">

      <img class="img-float top-right" src="https://pngimg.com/uploads/ice_cream/ice_cream_PNG20998.png">
      <img class="img-float middle-right" src="https://pngimg.com/uploads/ice_cream/ice_cream_PNG21000.png">
      <img class="img-float bottom-right" src="https://pngimg.com/uploads/ice_cream/ice_cream_PNG20994.png">

      <img src="https://pngimg.com/uploads/ice_cream/ice_cream_PNG20984.png" class="img-back-center">

      <div class="hero-content">
        <p>Sabores que Enamoran</p>
        <h1>
          Descubre la Magia del <br>
          Helado Artesanal
        </h1>
        <br><br>
        <a href="/registro_cliente" class="btn-soft">Ver catálogo</a>
      </div>
    </section>
  </div>
{% endblock %}